
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h2{
    color: #426696;
    font-weight: 500;
    font-size: 30px;
    opacity: 0.8;
}
h1{
    color: #426696;
    font-weight: 400;
    font-size: 20px;
    opacity: 0.8;
}
p{
    color: #426696;
    opacity: 0.8;
    font-weight: 500;

}

a{
    text-decoration: none;
    color: #426696;

}
main{
    min-height: 100vh;
    background: linear-gradient(to right, #65dfc9, #6cdbed);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass{
    background: white;
    /* min-height: 80vh; */
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 20px;
    z-index: 2;
    backdrop-filter: blur(20px);

    /* display: flex; */
}

.circle1, .circle2{
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    
}

.circle1{
    top: 5%;
    right: 15%;
}

.circle2{
    bottom: 5%;
    left: 10%;
}

.cards{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* margin: 50px; */
}
.card img{
    border-radius: 20px;
    width: 100px;
    margin-left: -111px;

}
.card{
    background: linear-gradient(to right, #65dfc9, #6cdbed);
    border-radius: 20px;
    color: white;
    display: flex;
    margin: 20px;
    padding: 20px;
    /* width: 60%; */
}

.card:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.card:nth-child(2){
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    color: red;
}

.card:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    color: salmon;
}

.card-inside{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.card i{
    font-size: 30px;
    color: #426696;
    cursor: pointer;
    transition: 0.5s;
}

.card i:hover,
.card-inside a:hover{
    color: coral;
    transform: scale(1.1);
}



@media only screen and (max-width: 1250px){
    .glass{
        background: white;
        /* min-height: 80vh; */
        width: 60%;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
        border-radius: 20px;
        z-index: 2;
        backdrop-filter: blur(20px);
    
        /* display: flex; */
    }

    .card img {
        border-radius: 20px;
        width: 100px;
        margin-left: 0%;
    }
}



@media only screen and (max-width: 960px){
    .glass{
        background: white;
        min-height: 80vh;
        width: 90%;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
        border-radius: 20px;
        z-index: 2;
        backdrop-filter: blur(20px);
        margin: 20px 0 20px 0;
    
        /* display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center */
    }

    .card:first-child{
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
    }


    .card-inside{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
    }

}