
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    text-decoration: none;
    transition: all 0.5s linear;

    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/fonas3.jpg);
    background-size: cover;
    background-position:center;
    background-attachment:scroll;

    height: 100vh;
    width: 100%;
}


.container{
    background-color: transparent;

    /* background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/fonas3.jpg);
    background-size: cover;
    background-position:center;
    background-attachment:scroll; */

    height: 100vh;
    width: 100%;
    /* margin-left: 50px;
    margin-right: 50px; */
}

.container h1{
    text-align:center;
    font-weight: 600;
    position: relative;

    color: white;
}


.logo i{
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
    transition: 0.5s;
}

.logo i:hover{
    color: blue;
}

/* -------------------------------------- */

.flexcontainer{

    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;

    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
}   

.flexcontainer .row{
    background-color: rgb(90, 60, 3);
    
    border-radius: 30px;
    border: 10px solid grey;

    margin: 20px 20px;
    transition: 0.5s;

    width: 280px;
    height: 231px;

    position: relative;

}
.flexcontainer .row .row-list-back{
    position: absolute;
    font-size: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0%;
    font-weight: 800;
    background: white;
    width: 100%;
    transform: scale(0);
    border-style: solid;
    /* border-top-right-radius: 25px; */

    height: 208px;
    border-radius: 30px;
}

.flexcontainer .row:first-child:hover .row-list-back{
    transform: scale(1);
    opacity: 1;
}

.flexcontainer .row-list-back .back-inside a:hover{
    color: blue;
    letter-spacing: 1px ;
}

.flexcontainer .row-list-back .back-inside a:hover .flexcontainer .row:first-child .row-list p{
    opacity: 0;
}


.flexcontainer .row .row-list{
    /* height: 350px;
    width: 250px; */
    padding: 20px;

    /* background-color: blue; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 0.5s;

}

/* ----------POP UP LIST CARD------------------------- */
.projects-box{
    /* width: 350px; */
    width: 500px;
    position: fixed;
    bottom:8%;
    left: -100%;
    z-index: 1000;
    /* background: white; */
    background: linear-gradient(280deg, black, transparent);
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
    text-align: center;
    padding: 30px;

    display: flex;
    flex-direction: column;
}

.projects-box.active{
    left: 40%;
}

.projects-box .close_btn{
    position: absolute;
    top: -2px;
    right: 12px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.projects-box .close_btn:hover{
    color: blue;
}

.projects-box .boxInside {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;

    margin-top: 12%;
}

.projects-box .boxInside a{
    transform: translateY(30%);
    color: white;
}

.projects-box .boxInside img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.projects-box .boxInside a:hover{
    letter-spacing: 1px;
    opacity: 0.8;
    font-weight: 600;
    color: red;
}

/* ----------------------------- END ---------------------------------------------- */


/* ----------POP UP LIST CV------------------------- */
.projects-box-CV{
    /* width: 350px; */
    width: 500px;
    position: fixed;
    bottom:20%;
    left: -100%;
    z-index: 1000;
    /* background: white; */
    background: linear-gradient(280deg, black, transparent);
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
    text-align: center;
    padding: 30px;

    display: flex;
    flex-direction: column;
}

.projects-box-CV.active{
    left: 40%;
}

.projects-box-CV .close_btn_CV{
    position: absolute;
    top: -2px;
    right: 12px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.projects-box-CV .close_btn_CV:hover{
    color: blue;
}

.projects-box-CV .boxInside {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;

    margin-top: 12%;
}

.projects-box-CV .boxInside a{
    transform: translateY(30%);
    color: white;
}

.projects-box-CV .boxInside img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.projects-box-CV .boxInside a:hover{
    letter-spacing: 1px;
    opacity: 0.8;
    font-weight: 600;
    color: red;
}

/* ----------------------------- END CV ---------------------------------------------- */

/* .flexcontainer .row:hover img{
    border-radius: 10px;
    cursor: pointer;
    
} */

.flexcontainer .row:hover{
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 40px;
   
    border: 10px solid blue;

    transform: translateY(-10px) rotate(-10deg) scale(0.85);

}

.flexcontainer .row:active{
    box-shadow: none;
    transform: scale(0.9);
}

.row a{
    text-decoration: none;
    color: black;
    transition: 0.1s;
}

.row-list img{
    width: 190px;
    height: 127px;
    border-radius: 98px;

    transition: 0.5s;
}

.row-list p{
    margin: 10px 15px;
    color: white;
}




@media (max-width:880px) {
    .projects-box{
        width: 250px;

        position: fixed;
        /* bottom:0; */
        left: -100%;
        z-index: 1000;
        background: linear-gradient(45deg, black, transparent);
        border-radius: 10px;
        box-shadow: 0 10px 15px rgba(0,0,0,0.2);
        text-align: center;
        padding: 30px;
    
        display: flex;
        flex-direction: column;
    }

    .projects-box-CV{
        width: 250px;

        position: fixed;
        /* bottom:0; */
        left: -100%;
        z-index: 1000;
        background: linear-gradient(45deg, black, transparent);
        border-radius: 10px;
        box-shadow: 0 10px 15px rgba(0,0,0,0.2);
        text-align: center;
        padding: 30px;
    
        display: flex;
        flex-direction: column;
    }

    .projects-box.active{
        left: 19%;
        top: 10%;
    }

    .projects-box-CV.active{
        left: 19%;
        top: 10%;
    }
}