
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/fonas3.jpg);
    background-size: cover;
    background-position:center;
    background-attachment:scroll;

    height: 100vh;
    width: 100%;
}


.container{
    background-color: transparent;

    /* background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/fonas3.jpg);
    background-size: cover;
    background-position:center;
    background-attachment:scroll; */

    height: 100vh;
    width: 100%;
    /* margin-left: 50px;
    margin-right: 50px; */
}

.container h1{
    text-align:center;
    font-weight: 600;
    position: relative;

    color: white;
}


.logo i{
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
    transition: 0.5s;
}

.logo i:hover{
    color: blue;
}

/* -------------------------------------- */

.flexcontainer{

    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;

    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
}   

.flexcontainer .row{
    background-color: rgb(90, 60, 3);
    
    border-radius: 30px;
    border: 10px solid grey;

    margin: 20px 20px;
    transition: 0.5s;

    width: 280px;
    height: 231px;

}


.flexcontainer .row .row-list{
    /* height: 350px;
    width: 250px; */
    padding: 20px;

    /* background-color: blue; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 0.5s;

}

.flexcontainer .row:hover img{
    border-radius: 10px;
    cursor: pointer;

    
}

.flexcontainer .row:hover{
    cursor: pointer;
    /* color: blue; */
    border-top-left-radius: 10px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 40px;
   
    border: 10px solid blue;

    transform: translateY(-10px) rotate(-10deg);
}

.row a{
    text-decoration: none;
    color: black;
    transition: 0.1s;
}

.row a:hover p{
    color: blue;
    /* font-weight: 400; */
}

.row-list img{
    width: 190px;
    height: 127px;
    border-radius: 98px;

    transition: 0.5s;
}

.row-list p{
    margin: 10px 15px;
    color: white;
}